
/* Your CSS Code here. */
.flex{
	display:flex;
	background-color:blue;
	flex-flow:row wrap;
	justify-content:space-between;
}
.item{
	height:50px;
	width:50px;
	background-color:green;
	margin:2px;
}






