
/* Your CSS Code here. */
.flex{
	display:flex;
	background-color:blue;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}
.holder{
	height:50px;
	width:50px;
	background-color:green;
	margin:2px;
}






